---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
    <h1 class="text-2xl pt-5 pb-10">Menu vers les 3 sous-pages individuelles</h1>
    <nav>
        <ul>
            <li><a href="Adelie">Peinguins Adelie</a></li>
            <li><a href="Gentoo">Peinguins Gentoo</a></li>
            <li><a href="Chinstrap">Peinguins Chinstrap</a></li>
        </ul>
    </nav>
</Layout>